.add-new-container{
    display: flex;
    z-index: 2;
    width: 500px;
    justify-content: space-between;
    flex-direction: column;
    z-index: 2;
}
.popout-container{
    position: fixed;
    width: 100%;
    height: 100%;
    display: none;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 2;
    align-items: center;
    justify-content: center;
    transition: opacity 0.5s ease;
}
.popout-container.active{
    display: flex;
}
.popout-container.transition{
    opacity: 1;
}
.add-new-inputs > div:nth-child(2){
    margin: 20px 0px;
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    z-index: 1;
}
.css-46bh2p-MuiCardContent-root p{
    display: -webkit-box;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}

.css-46bh2p-MuiCardContent-root{
    height: 100%;
}
.css-h93ljk-MuiTypography-root{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}
.css-1oj2twp-MuiPagination-root{
    display: flex;
    align-items: center;
    justify-content: center;
}